# 4. Naive Bayes : Perform spam email detection using Naive Bayes classifier

Dataset : https://drive.google.com/file/d/1B8GIgpDYo0jOw6tv-kgmGxt2_HVknWZx/view?usp=sharing

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv("spam.csv")      
df

     Category                                            Message
0         ham  Go until jurong point, crazy.. Available only ...
1         ham                      Ok lar... Joking wif u oni...
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...
3         ham  U dun say so early hor... U c already then say...
4         ham  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5567     spam  This is the 2nd time we have tried 2 contact u...
5568      ham               Will ü b going to esplanade fr home?
5569      ham  Pity, * was in mood for that. So...any other s...
5570      ham  The guy did some bitching but I acted like i'd...
5571      ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [3]:
df.isnull().sum()

Category    0
Message     0
dtype: int64

In [4]:
df=df.dropna()

In [5]:
df.isnull().sum()

Category    0
Message     0
dtype: int64

In [6]:
x = df.Category
y = df.Message

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=.20)

In [9]:
from sklearn.feature_extraction.text import CountVectorizer

In [10]:
cv=CountVectorizer()

In [11]:
x_train=cv.fit_transform(xtrain)

In [12]:
x_train.toarray()

array([[1, 0],
       [1, 0],
       [1, 0],
       ...,
       [1, 0],
       [1, 0],
       [1, 0]], dtype=int64)

In [13]:
from sklearn.naive_bayes import MultinomialNB

In [14]:
model=MultinomialNB()

In [15]:
model.fit(x_train,ytrain)

MultinomialNB()

In [16]:
x_test=cv.transform(xtest)

In [17]:
x_test.toarray()

array([[1, 0],
       [1, 0],
       [1, 0],
       ...,
       [1, 0],
       [0, 1],
       [1, 0]], dtype=int64)

In [18]:
model.score(x_test,ytest)

0.003587443946188341

In [19]:
emails=['I HAVE A DATE ON SUNDAY WITH WILL!!','Did u receive my msg?']

In [20]:
cv_emails=cv.transform(emails)

In [21]:
model.predict(cv_emails)

array(["Sorry, I'll call later", "Sorry, I'll call later"], dtype='<U910')

In [22]:
df.describe(include = 'all')

       Category                 Message
count      5572                    5572
unique        2                    5157
top         ham  Sorry, I'll call later
freq       4825                      30

In [23]:
df.sample(8)

     Category                                            Message
1923      ham  I'll be in sch fr 4-6... I dun haf da book in ...
3265      ham  I will send them to your email. Do you mind  &...
2051      ham              Hi where you. You in home or calicut?
5524     spam  You are awarded a SiPix Digital Camera! call 0...
1866      ham  Call to the number which is available in appoi...
2230      ham  haha but no money leh... Later got to go for t...
1246      ham  Hello which the site to download songs its urg...
2713      ham  Hey you still want to go for yogasana? Coz if ...